<section class="causes-section bg-grey bd-bottom padding">
    <div class="container">
      <% if session[:current_role] == "Admin" %>
        <h2>Organizaciones</h2>
        <div class="row pt-4">
          <% @organizations.each do |organization| %>
            <%= render 'organizations/organization_card', :organization => organization %>
          <% end %>
        </div>
      <% else %>
        <h2>Tu organización</a></h2>
        <div class="pt-4">
          <%= render 'organizations/organization_card', :organization => @organization %>
        </div>
      <% end %>
    </div>
</section>
