<section class="hero-section">

    <div class="container hero-background">
        <div class="hero-content">
            <h4>¡Comparte tus puntos!</h4>
            <h2 style="color: white;">Dona puntos y financia proyectos sociales</h2>
            <p>Queremos que con cada compra se generen oportunidades para el tejido social de Colombia.</p>
            <a href="<%= projects_path %>" class="default-btn">Explorar proyectos</a>
        </div>
    </div>

</section><!-- /Hero Section -->
