<div class="container">
     <div class="row">
         <div class="col-md-4 col-sm-6 xs-padding">
             <div class="promo-content">
                 <%= image_tag "icon-3.png", :class => "icon-icon" %>
                 <h3>Explorar proyectos</h3>
                 <p>Explora el catálogo de proyectos sociales más completo del tejido social colombiano.</p>
                 <a href="#">Read More</a>
             </div>
         </div>
         <div class="col-md-4 col-sm-6 xs-padding">
             <div class="promo-content">
                 <%= image_tag 'icon-2.png' %>
                 <h3>Consultar puntos</h3>
                 <p>Consulta los puntos ganados con tu tarjeta de crédito.</p>
                 <a href="#">Read More</a>
             </div>
         </div>
         <div class="col-md-4 col-sm-6 xs-padding">
             <div class="promo-content">
                 <%= image_tag 'icon-1.png' %>
                 <h3>Finacia proyectos sociales</h3>
                 <p>Financia los proyectos que más te gusten y contribuye al bienestar social de tu comunidad</p>
                 <a href="#">Read More</a>
             </div>
         </div>
     </div>
 </div>
