<section class="promo-section-2 padding bd-bottom">

  <div class="container">
       <div class="row">
           <div class="col-md-4 col-sm-6 xs-padding">
               <div class="promo-content">
                  <div class="bdefault">
                   <%= image_tag "icon-3.png" %>
                 </div>
                   <h3>¿Eres una organización social?</h3>
                   <p>Redeemy te ofrece un nuevo canal de financiación para tu organización.</p>
                   <a href="#">Leer más</a>
               </div>
           </div>
           <div class="col-md-4 col-sm-6 xs-padding">
               <div class="promo-content">
                   <%= image_tag 'icon-2.png' %>
                   <h3>Consultar puntos</h3>
                   <p>Consulta los puntos ganados con tu tarjeta de crédito.</p>
                   <a href="#">Leer más</a>
               </div>
           </div>
           <div class="col-md-4 col-sm-6 xs-padding">
               <div class="promo-content">
                   <%= image_tag 'icon-1.png' %>
                   <h3>Finacia proyectos sociales</h3>
                   <p>Financia los proyectos que más te gusten y contribuye al bienestar social de tu comunidad</p>
                   <a href="#">Leer más</a>
               </div>
           </div>
       </div>
   </div>
</section><!-- /Promo Section -->
