<section class="widget-section padding">
          <div class="container">
              <div class="widget-wrap row">
                  <div class="col-md-4 xs-padding">
                      <div class="widget-content">
                          <%= image_tag('redeemy-logo.png', width: "155")%>
                          <p>Lorem Ipsum is simply dummy printing and industry. It has survived not only five centuries, but also the leap electronic type essentially unchanged.</p>
                          <ul class="social-icon">
                              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-md-4 xs-padding">
                      <div class="widget-content">
                          <h3>Recent Campaigns</h3>
                          <ul class="widget-link">
                              <li><a href="#">First charity activity of this summer. <span>-1 Year Ago</span></a></li>
                              <li><a href="#">Big charity: build school for poor children. <span>-2 Year Ago</span></a></li>
                              <li><a href="#">Clean-water system for rural poor. <span>-2 Year Ago</span></a></li>
                              <li><a href="#">Nepal earthqueak donation campaigns. <span>-3 Year Ago</span></a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-md-4 xs-padding">
                      <div class="widget-content">
                          <h3>Redeemy Location</h3>
                          <ul class="address">
                              <li><i class="far fa-envelope"></i> info@redeemy.net</li>
                              <li><i class="fas fa-mobile-alt"></i> +(57) 305 7529335</li>
                              <li><i class="fas fa-globe"></i> www.redeemy.net</li>
                              <li><i class="fas fa-map-marker-alt"></i> Cra. 51 #96-22, Bogotá, Colombia</li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </section><!-- ./Widget Section -->

      <footer class="footer-section">
    <div class="container">
              <div class="row">
                  <div class="col-md-6 sm-padding">
                      <div class="copyright">&copy; 2018 Redeemy</div>
                  </div>
                  <div class="col-md-6 sm-padding">
                      <ul class="footer-social">
                          <li><a href="#"></a></li>
                          <li><a href="#"></a></li>
                          <li><a href="#"></a></li>
                      </ul>
                  </div>
              </div>
    </div>
  </footer><!-- /Footer Section -->
