<section class="widget-section padding">
          <div class="container">
              <div class="widget-wrap row">
                  <div class="col-md-4 xs-padding">
                      <div class="widget-content">
                          <%= image_tag('redeemy-logo.png', width: "155")%>
                          <p>Haciendo el banco mas social</p>
                          <ul class="social-icon">
                              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-md-4 xs-padding">
                      <div class="widget-content">
                          <h3>Proyectos recientes</h3>
                          <ul class="widget-link">
                              <li><a href="#">Inclusi칩n de personas con discapacidad auditiva en la Educaci칩n Superior</a></li>
                              <li><a href="#">Convenio de educaci칩n Escuela Nueva y Posprimaria</a></li>
                              <li><a href="#">Padrinazgo</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-md-4 xs-padding">
                      <div class="widget-content">
                          <h3>Locacion Redeemy</h3>
                          <ul class="address">
                              <li><i class="far fa-envelope"></i> info@redeemy.net</li>
                              <li><i class="fas fa-mobile-alt"></i> +(57) 305 7529335</li>
                              <li><i class="fas fa-globe"></i> www.redeemy.net</li>
                              <li><i class="fas fa-map-marker-alt"></i> Cra. 51 #96-22, Bogot치, Colombia</li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </section><!-- ./Widget Section -->

      <footer class="footer-section">
    <div class="container">
              <div class="row">
                  <div class="col-md-6 sm-padding">
                      <div class="copyright">&copy; 2018 Redeemy</div>
                  </div>
                  <div class="col-md-6 sm-padding">
                      <ul class="footer-social">
                          <li><a href="#"></a></li>
                          <li><a href="#"></a></li>
                          <li><a href="#"></a></li>
                      </ul>
                  </div>
              </div>
    </div>
  </footer><!-- /Footer Section -->

  <a data-scroll href="#header" id="scroll-to-top"><i class="fas fa-arrow-up"></i></a>
