<!-- Sidebar -->
<ul class="sidebar navbar-nav">
  <li class="nav-item active">
    <a class="nav-link" href="<%= dashboard_for_provider_path(@provider) %>">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= provider_admin_provider_redemptions_path(@provider) %>">
      <i class="fas fa-fw fa-file"></i>
      <span>Ordenes</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= provider_admin_provider_redeemables_path(@provider) %>">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Productos/Servicios</span></a>
  </li>
</ul>
