<div class='text-center'>
  <a  href='#' data-toggle="modal" data-target="#whyPhone" class='white animated fadeIn delay'>
    Why do you need my phone number or email?
  </a>
</div>

<!-- Modal -->
<div class="modal fade" id="whyPhone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h3>About Phone Numbers and Emails</h3>
        <p>Instead of trying to remember passwords we make it simple and just send you a code when you want to sign up or sign back in.</p>
        <p>We will never share or sell your information to anyone.</p>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-primary btn-block"> <i class="fa fa-check" aria-hidden="true"></i> Got It</button>
      </div>
    </div>
  </div>
</div>
