<%= render "organizations/organizations/org_nav", organization: @organization %>
<section class="causes-section bg-grey bd-bottom pt-4 pb-4">
  <div class="container">
    <div class='col-md-10 offset-1 col-xs-11'>
      <div class='row'>
        <% @projects.each do |project| %>
          <%= render "projects/project", organization: @organization, project: project %>
        <% end %>
        <div class='col-sm-4 text-center mt-4'>
          <%= link_to "Crear proyecto", new_organization_project_path(@organization["id"]), class: "btn btn-success btn-xs" %>
        </div>
      </div>
    </div>
  </div>
</section>
