<section class="causes-section bg-grey bd-bottom padding">
    <div class="container">
      <h2>Tu organización</a></h2>
      <div class="pt-4">
        <%= render 'organizations/organizations/organization_card', :organization => @organization %>
      </div>
    </div>
</section>
