<section class="about-section bd-bottom padding">
    <div class="container">
        <div class="row">
           <div class="col-md-4 xs-padding">
                <div class="profile-wrap">
                    <%= image_tag 'redeemy-logo.png', class:'img-fluid w-100 pb-3' %>

                    <p class="text-justify pt-2">Desde Redeemy queremos abrir nuevos canales de financiación para las organizaciones sociales.</p>
                    <p class="text-justify">Queremos invitar a las entidades y a sus clientes a jugar un papel clave en el fortalecimiento del emprendimiento social y liderar en Colombia una plataforma para hacer viral la financiación de importantes causas sociales.</p>
                </div>
            </div>
            <div class="col-md-8 xs-padding">
                <div class="about-wrap row">
                    <div class="col-md-6 xs-padding">
                        <%= image_tag 'hackathon.jpg' %>
                        <h3>¿Quiénes somos?</h3>
                        <div class="text-justify">
                          <p>
                            Somos una empresa que busca contribuir al tejido social, canalizando
                            recursos desde los espacios financieros.
                          </p>

                          <p>
                            Nuestra primera solución es una plataforma online que permite a los clientes del banco financiar
                            proyectos sociales con los puntos de sus tarjetas de crédito.
                          </p>

                          <p>Nacimos en las 24hrs del primer hackathon de Scotiabank Colpatria. En el hackathon ganamos el primer lugar del reto de
                            proveedores.
                          </p>

                          <p>
                            Somos tres fundadores Leonel Oliveros, Mayra Rodriguez y Manuel Ortega.
                          </p>
                        </div>
                    </div>
                    <div class="col-md-6 xs-padding">
                        <%= image_tag 'redeemy_meeting.JPG' %>
                        <h3>Lanzamiento oficial en 2019</h3>
                        <div class="text-justify">
                          <p>Nos encontramos en pleno desarrollo</p>
                          <p>
                            Si eres una organización o empredendor social y buscas financiación, <a href="mailto:info@redeemy.net">no dudes en escribirnos</a>. Queremos ser un aliado que te permita alcanzar
                            la sostenibilidad económica para tus proyectos.
                          </p>
                          <p>
                            Si estas interesado en contribuir a tejer una mejor sociedad, entonces no te pierdas
                            la evolución de Redeemy. ¡Siguenos en las redes sociales!
                          </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- /Causes Section -->
