<div class="header-height"></div>

<section class="hero-section">
  <%= render "pages/home/hero_section" %>
</section><!-- /Hero Section -->


<section class="promo-section-2 padding bd-bottom">
  <%= render "pages/home/promo_section_2" %>
</section><!-- /Promo Section -->

<%= render "pages/home/projects" %>
