<div class="header-height"></div>

<%= render "pages/home/hero_section" %>

<%= render "pages/home/promo_section_2" %>

<%= render "pages/home/projects" %>

<%= render "pages/home/featured_campaigns" %>
