<div class="pager-header organization-team">
    <div class="container">
        <div class="page-content">
          <di class='col-xs-12 col-md-6'>
            <h1 class='white hero_h1 d-none d-sm-block'>Para tu organización</h1>
            <h3 class='white d-block d-sm-none'>Para tu organización</h3>
          </di>
        </div>
    </div>
</div>

<section class="team-section bd-bottom padding">
    <div class="container">
        <div class="team-wrapper row">
            <div class="col-lg-6 sm-padding">
                <div class="team-content">
                    <h2>Una nueva fuente de financiación para tu organización</h2>
                    <p>Redeemy te ofrece un nuevo canal de financiación para tu organización.</p>
                    <p>Nuestra plataforma permite a los tarjetahabientes donar puntos de sus tarjetas de crédito a proyectos sociales. Estás a un paso de que tus proyectos puedan empezar a recibir donaciones en nuestra plataforma.</p>

                    <p>Para empezar a recibir financiación solo tienes que seguir los siguientes pasos:<p>
                    <ul class="group-list mb-4">
                        <li class="list-group-item"><i class="fa fa-check"></i> Registrarte en nuestra plataforma y solicitar la aprobación de tu cuenta.</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> Cargar la información sobre tus proyectos.</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> Difundir tus proyectos e invitar a tus miembros y amigos a donar sus puntos en tus proyectos.</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> Y mensualmente haremos una transferencia a tu organización por el monto total en pesos equivalente a los puntos recibidos en el mes.</li>
                    </ul>
                    <a href="#" class="default-btn">Registrate ahora</a>
                </div>
            </div>
            <div class="col-lg-6 sm-padding">
                <div class="team-wrap row">
                    <div class="col-md-6">
                      <div class='bdefault rounded card-body white threehundred mb-4'>
                        <p><i class="fas fa-donate fa-7x"></i></p>
                        <p><strong>Financiación recurrente desde las donaciones / redenciones de los usuarios</strong></p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class='bdefault rounded card-body white threehundred mb-4'>
                        <p><i class="fas fa-users fa-7x"></i></p>
                        <p><strong>Un nuevo espacio de visibilidad y redes para tus proyectos</strong></p>
                      </div>
                    </div><!-- /Team-2 -->
                    <div class="col-md-6">
                      <div class='bdefault rounded card-body white threehundred mb-4'>
                        <p><i class="fas fa-heart fa-7x"></i></p>
                        <p><strong>Un sistema gráfico para reflejar el impacto de tus proyectos</strong></p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class='bdefault rounded card-body white threehundred mb-4'>
                        <p><i class="fas fa-chart-line fa-7x"></i></p>
                        <p><strong>Estadísticas sobre la actividad y el interés alrededor de tus proyectos</strong></p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
