<section class="causes-section bg-grey bd-bottom padding">
    <div class="container">

      <div class="row">

      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <div class="pt-3">
              <h4>PUNTOS</h4>
                <%= render 'points' %>
            </div>
          </div>
          <div class="col-md-12">
            <div class="pt-3">
              <h4>MIS SUSCRIPCIONES</h4>
                <%= render 'subscriptions' %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <div class="pt-4">
              <h4>UNA SELECCIÓN DE PROYECTOS PARA TI</h4>
                <%= render 'special_select_project' %>
            </div>
          </div>
          <div class="col-md-12">
            <div class="pt-4">
              <h4>ÚLTIMAS REDENCIONES</h4>
                <%= render 'redemptions' %>
            </div>
          </div>
        </div>
      </div>

      </div>

    </div>
</section>
