<div class="container-fluid">


  <article class="py-5 mt-5">
  <header>
    <div class="title">Admin Dashboard</div>

    <div class="interval">
      <ul>
        <li>Semanal</li>
        <li class="active">Mensual</li>
      </ul>
    </div>
  </header>

  <section>
    <header>Organizaciones</header>
    <div class="inlineChart">
      <canvas id="c2" width="100" height="100"></canvas>
      <div class="info">
        <div class="value"><%= @organizations.length %></div>
        <div class="title"></div>
      </div>
    </div>
  </section>
</article>



</div>
