<div class="container-fluid">


  <article class="py-5 mt-5">
  <header>
    <div class="title">Bank Dashboard</div>

    <div class="interval">
      <ul>
        <li>Weekly</li>
        <li class="active">Monthly</li>
      </ul>
    </div>
  </header>

  <section>
    <header>Total ventas</header>
    <div class="inlineChart">
      <canvas id="c2" width="100" height="100"></canvas>
      <div class="info">
        <div class="value"><%= @organizations.length %></div>
        <div class="title"></div>
      </div>
    </div>
    <div class="inlineChart">
      <canvas id="c3" width="100" height="100"></canvas>
      <div class="info">
        <div class="value">24,734</div>
        <div class="title"></div>
      </div>
    </div>
    <div class="inlineChart">
      <canvas id="c4" width="100" height="100"></canvas>
      <div class="info">
        <div class="value">15,650</div>
        <div class="title"></div>
      </div>
    </div>
  </section>
  <section>
    <table>
      <thead>
        <tr>
          <th>Ventas noviembre</th>
          <th>Cantidad</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td>20</td>
          <td>$1,342</td>
        </tr>
        <tr>
          <td>e Table</td>
          <td>18</td>
          <td>$1,550</td>
        </tr>
        <tr>
          <td></td>
          <td>15</td>
          <td>$4,170</td>
        </tr>
        <tr>
          <td>Bali Outdoor Wicker Chair</td>
          <td>25</td>
          <td>$2,974</td>
        </tr>
      </tbody>
    </table>
  </section>
</article>



</div>
