.bbluegrad {
	background-image: linear-gradient(90deg, #2996CC 0%, #63BCE6 100%);
	background-size: cover;
}


.bgraygrad {
  background-image: linear-gradient(0deg, #9E9E9E 0%, #E0E0E0 100%);
  background-size: cover;
}


.white {
	color: #FAFAFA;
}

.brandblue {
  color: #2382b0;
}

.bgray {
  background-color: #9E9E9E;
}

.blightgray {
  background-color: #E0E0E0;
}


.black {
  color: #424242;
}

.bred {
  background-color: #E85D5D;
}

.bgreen {
  background-color: #4caf50;
}

.red {
  color: #E85D5D;
}

.bdefault {
	background-color: #DC3545;
}

.hero-background {
	background-color: rgba(0,0,0, 0.6);
	padding: 2em;
}
