/* ==========================================================================
   14.0 Hero Section
   ========================================================================== */
.hero-section{
	background-image: image-url("home-prev2.jpg");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
    height: 530px;
    display: flex;
    align-items: center;
}
.hero-content h1{
    font-size: 40px;
    color: #fff;
    display: inline-block;
}
.hero-content h4{
    color: #dc3545;
}
.hero-content p{
    color: #ddd;
}
