a.list-group-item, a.list-group-item:focus, a.list-group-item:target, a.list-group-item:hover {
  text-decoration: none;
  color: #424242;
}

a.card, a.card:focus, a.card:target, a.card:hover {
  text-decoration: none;
  color: #424242;
}
