/* ==========================================================================
   15.0 Page Header Section
   ========================================================================== */
.pager-header{
  background-image: url(asset_path("page-header-bg.jpg"));
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
   min-height: 300px;
   display: flex;
   align-items: center;
}
.pager-header h2{
   color: #fff;
}
.pager-header p{
   color: #ddd;
}

.organization-team {
  background-image: url(asset_path("redeemy-organizations.jpg"));
}
