
.show-container .progress {
    height: 3px;
}
.show-container .progress-bar {
    background-color: #f8b864;
}
#sdgs-images img {
    width: 65px;
    height: 65px;
    padding: 5px;
}
.show-container .causes-details{
    height: 31%;
}
.sdg {
    height: 65% !important;
    padding-top: 40px;
    margin-top: 10px;
}

.center-details p{
    font-size: 20px;
    color: black;
    margin-bottom: 0px;
}
