// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "header_section";
@import "causes_section";
@import "campaigns_section";
@import "promo_section";
@import "widget_section";
@import "hero_section";
@import "footer_section";
@import "page_header_section";
@import "submenu_header_section";
@import "scroll-to-top";
@import "css-animation";
@import "animate";
@import "links";
@import "customer_style";
@import "colors";
@import "sizing";
@import "slicknav.min";
@import "responsive";
@import "mobile_menu";


/*  ==========================================================================
    Table of Contets
    ==========================================================================

    1.0 Common Styles
    2.0 Header Section
    5.0 Causes Section
    7.0 Campaigns Section
    13.0 Widget Section
    14.0 Hero Section
    21.0 Footer Section
	  22.0 Scroll To Top

    ==========================================================================
    WowThemez
    ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,500,700');

/*  ==========================================================================
    1.0 Common Styles
    ========================================================================== */
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 23px;
    color: #555;
    font-weight: 400;
    position: relative;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto Slab', sans-serif;
    -webkit-font-smoothing:antialiased;
    color: #333;
}
h1{
    font-size: 70px;
    line-height: 1;
    margin: 0 0 10px;
    letter-spacing: -0.02em;
    font-weight: bold;
}
h2{
    font-size: 24px;
    color: #333;
    margin: 0 0 8px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.04em;
}
h3,h4{
    margin: 0 0 10px;
    font-weight: 700;
    line-height: 1.4;
    color: #333;
    letter-spacing: -0.04em;
}
h3{
    font-size: 17px;
}
h4{
    font-size: 15px;
}
h5,h6{
    font-size: 14px;
    margin: 0 0 10px;
}
img{
    border: none;
    outline:none;
}
ul{
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}
p{
    font-size: 14px;
    margin-bottom: 15px;
}
a{  font-family: "Roboto Slab",sans-serif;
    letter-spacing: -0.04em;
}
a, a:hover{
    text-decoration: none;
}
a:focus{
    outline: 0;
    text-decoration: none;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
   color: #888 !important;
}

input:-moz-placeholder,
textarea:-moz-placeholder{ /* Firefox 18- */
   color: #888 !important;
}

input::-moz-placeholder,
textarea::-moz-placeholder{  /* Firefox 19+ */
   color: #888 !important;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder{
   color: #888 !important;
}
button{
    border: none;
    background: none;
}
/* Helper Class */
.padding{
    padding: 80px 0;
}
.no-padding{
    padding: 0;
}
.mb-10{ margin-bottom: 10px; }
.mb-15{ margin-bottom: 15px; }
.mb-20{ margin-bottom: 20px; }
.mb-25{ margin-bottom: 25px; }
.mb-30{ margin-bottom: 30px; }
.mb-35{ margin-bottom: 35px; }
.mb-40{ margin-bottom: 40px; }
.mb-45{ margin-bottom: 45px; }
.mb-50{ margin-bottom: 50px; }
.mt-20{ margin-top: 20px; }
.mt-30{ margin-top: 30px; }
.mt-40{ margin-top: 40px; }
.ml-5{ margin-left: 5px; }
.ml-10{ margin-left: 10px; }
.mr-5{ margin-right: 5px; }
.mr-10{ margin-right: 10px; }
.mt-15{ margin-left: 15px; }
.mt-15{ margin-left: 15px; }
.padding-15{ padding: 15px; }

.display-block{ display: block; }
.text-black{
    color: #282828;
}
.text-white{
    color: #ffffff;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
.align-center{
    text-align: center;
}
.fl-right{
    float: right;
}
.fl-left{
    float: left;
}
.display-table{
    width: 100%;
    height: 100%;
    display: table;
}
.table-cell{
    display: table-cell;
    vertical-align: middle;
}
.overlay{
    width: 100%;
    position: relative;
    z-index: 1;
}
.overlay:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.bg-grey{
    background-color: #f2f2f2;
}
.bd-bottom{
    border-bottom: 1px solid #eaeaea;
}
.bg-dark{
    background-color: #232323;
}

/* Preloader Styles */
.loaded .site-preloader-wrap {
opacity: 0;
visibility: hidden;
}
.site-preloader-wrap {
position: fixed;
z-index: 999;
height: 100%;
width: 100%;
background: #272c30;
top: 0;left: 0
}

.site-preloader-wrap .spinner {
background-color: #ffd83f;
position: absolute;
left: 50%;
top: 50%;
margin-left: -20px;
margin-top: -20px;
}

.spinner {
width: 40px;
height: 40px;

border-radius: 100%;
-webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
0% { -webkit-transform: scale(0) }
100% {
-webkit-transform: scale(1.0);
opacity: 0;
}
}

@keyframes sk-scaleout {
0% {
-webkit-transform: scale(0);
transform: scale(0);
} 100% {
-webkit-transform: scale(1.0);
transform: scale(1.0);
opacity: 0;
}
}


/* Button Style */
.btn_group{}
.btn_group a{
margin: 5px;
}
.default-btn{
background-color: #f8b864;
color: #fff;
line-height: 45px;
display: inline-block;
padding: 0 25px;
border-radius: 3px;
font-size: 12px;
text-transform: uppercase;
font-weight: 600;
}
.default-btn:hover{
background-color: #ffb451;
color: #fff;
}
.default-btn.btn_sm{
line-height: 40px;
padding: 0 15px;
}

/*Section Heading Style*/
.section-heading .heading-border{
border-top: 5px solid #f8b864;
width: 50px;
display: inline-block;
margin-top: 0;

}
.section-heading h2{
margin-bottom: 0;
}

/* Transition Effect */
a,a:hover, .overlay, img, .form-control,  .form-control:hover, button{
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
}

/* Shape and Circle */
.circle,
.shape{
position: relative;
z-index: 1;
overflow: hidden;
}
.circle:before{
background-color: #f8b864;
content: '';
height: 800px;
width: 800px;
position: absolute;
top: -400px;
left: -350px;
border-radius: 100%;
opacity: 0.2;
z-index: -1;
}
.shape:after{
background-color: #f8b864;
content: '';
width: 50%;
height: 680px;
position: absolute;
top: 330px;
right: -150px;
border-radius: 100%;
-webkit-transform: skew(3deg,30deg);
-ms-transform: skew(3deg,30deg);
transform: skew(5deg,10deg);
opacity: 0.3;
z-index: -1;
}

.icon-icon {
  position: center;
}

.context-img {
  max-width: 100%;
  height: 150px;
  overflow: hidden;
}

.history-img {
  max-width: 100%;
  height: 250px;
  overflow: hidden;
}


.image_category {
  width: 30px;
  height: auto;
  border-radius: 100%;
}
