<div class='col-md-4 mb-4'>
  <div class='card'>
    <div class='card-body'>
      <p>
        <strong><%= organization["name"].truncate(30)%></strong>
        <br>code</br>
        <small>más información</small>
      </p>
    </div>
    <ul class='list-group'>
      <a href='' class='list-group-item'>
        Proyectos <span class='badge badge-secondary float-right'><%= 4 %></span>
      </a>
      <a href='' class='list-group-item'>
        Redenciones <span class='badge badge-secondary float-right'><%= 4 %></span>
      </a>
      <a href='' class='list-group-item'>
        Herramientas
      </a>
    </ul>
  </div>
</div>
