<div class="container-fluid pb-5 mb-5">

  <!-- Index de clientes -redime puntos- -->
  <div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-table"></i>
      Clientes</div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Puntos</th>
              <th>Puntos redimidos</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Nombre</th>
              <th>Puntos</th>
              <th>Puntos redimidos</th>
            </tr>
          </tfoot>
          <tbody>
            <% @customers.each do |customer| %>
              <tr>
                <td><%= customer["name"] %></td>
                <td><%= customer["nro_of_points"] %></td>
                <td><%= customer["nro_of_redeemed_points"] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
  </div>

</div>
